.about__container {
    display: grid;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    gap: 2rem;               /* Adjust gap as needed */
}


.about__img {
    width: 450px;
    border-radius: 1.5rem;
    justify-self: center;
    margin-bottom: 6rem;
}

.about__info {
    grid-template-columns: repeat(1, 800px);
    gap: 0.5rem;
    margin-bottom: var(--mb-2);
}

.about__box {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.75rem;
    text-align: center;
    padding: 2rem 2.25rem;
}

.about__icon {
    font-size: 1.5rem;
    color: var(--title-color);
    margin-bottom: var(--mb-0-5);
}

.about__title {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.about__subtitle {
    font-size: var(--tiny-font-size);
}

.about__description {
    padding: 0 4rem 0 0;
    margin-bottom: var(--mb-2-5);
}


/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .about__container {
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }
    

    .about__img {
        width: 35%;
        margin-bottom: 2rem;
    }

    .about__box {
        padding: 2rem 2rem;
    }

    .about__data {
        text-align: center;
    }

    .about__info {
        justify-content: center;
    }

    .about__description {
        padding: 0 5rem;
        margin-bottom: 2rem;
    
    }
  }
  
  /* For medium devices */
  
  @media screen and (max-width: 912px) {
    .about__info {
        grid-template-columns: repeat(1, 1fr);
        
    }
    .about__img {
        width: 35%;
        margin-bottom: 2rem;
    }

    .about__description {
        padding: 0;

    }
  }
  
  /* For small devices */
  @media screen and (max-width: 350px) {
    .about__info {
        grid-template-columns: repeat(1, 1fr);
    }
    
  }
  
  
  .about__video {
    width: 100%;
    height: auto;
    max-width: 750px; /* Adjust this value based on your layout */
    border-radius: 1.5rem; /* Optional, for rounded corners */
    margin-bottom: 2rem; /* Spacing below the video */
  }
  
  
  .about__video-description {
    display: block;       /* Makes the text behave like a block element */
    text-align: center;   /* Centers the text */
    margin-top: 1rem;     /* Space above the description */
    color: #666;          /* Adjust the color as needed */
    font-size: 0.9rem;    /* Smaller font size */
  }
  
  .about__video-container {
    display: flex;        /* Using flex to stack items vertically */
    flex-direction: column; /* Stack children vertically */
    align-items: center;  /* Center items horizontally */
  }
  